.frame-item {
  position: relative;
  width: 191px;
  height: 115px;
  overflow: hidden;
  flex-shrink: 0;
}
.list-requirements {
  position: relative;
  line-height: 120%;
  font-weight: 500;
}
.our-team-will {
  position: relative;
  font-size: var(--poppins-regular-16-size);
  line-height: 120%;
  color: var(--text-medium);
  display: inline-block;
  width: 250px;
}
.frame-parent2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--poppins-medium-24-size);
  color: var(--text-dark);
  font-family: var(--poppins-medium-20);
}
