.your-success {
  color: var(--blue-shade);
}
.jobs-benefits-container {
  font-size: var(--coolvetica-56-size);
  line-height: 100%;
  font-family: var(--coolvetica-56);
  width: 100%;
}
.are-you-on {
  margin: 0;
}
.are-you-on-container {
  line-height: 115%;
  text-align: left;
  width: 100%;
}
.benefits-child {
  border-radius: 50%;
  background-color: var(--blue);
  width: 305.8px;
  height: 322.61px;
}
.diverse-opportunities {
  line-height: 115%;
}
.diverse-opportunities-wrapper {
  width: 392px;
  height: 283px;
  overflow: hidden;
  color: var(--color-gray-100);
}
.diverse-opportunities-container {
  width: 268px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
}
.lorem-ipsum-dolor-container {
  position: relative;
  font-size: var(--poppins-regular-16-size);
  line-height: 120%;
  color: var(--text-medium);
  text-align: left;
  display: inline-block;
  width: 294px;
}
.frame-group1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.effortless-applications {
  line-height: 120%;
  font-weight: 500;
}
.lorem-ipsum-dolor-container1 {
  font-size: var(--poppins-regular-16-size);
  line-height: 120%;
  color: var(--text-medium);
  text-align: left;
  display: inline-block;
  width: 292px;
}
.tailored-job-matching-wrapper {
  width: 285px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
}
.lorem-ipsum-dolor-container2 {
  font-size: var(--poppins-regular-16-size);
  line-height: 120%;
  color: var(--text-medium);
  text-align: left;
  display: inline-block;
  width: 279px;
}
.mentorship-wrapper {
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
}
.lorem-ipsum-dolor-container3 {
  position: relative;
  font-size: var(--poppins-regular-16-size);
  line-height: 120%;
  color: var(--text-medium);
  text-align: left;
  display: inline-block;
  width: 288px;
}
.frame-parent6 {
  width: 675px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  color: var(--blue);
}
.doodle-set-business-concept-il-icon {
  width: 116.21px;
  height: 102.54px;
  object-fit: cover;
}
.benefits-item {
  width: 49.69px;
  height: 63.45px;
}
.doodle-set-business-concept-il-icon1,
.ggh-1-icon {
  width: 131.86px;
  height: 128.18px;
  object-fit: cover;
}
.ggh-1-icon {
  width: 324.91px;
  height: 399.83px;
}
.doodle-set-business-concept-il-icon2 {
  width: 327.81px;
  height: 260.94px;
  object-fit: cover;
}
.highlight-6-icon {
  width: 61.37px;
  height: 56.69px;
}
.benefits {
  background-color: var(--white);
  width: 100%;
  /* height: 775px; */
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--poppins-medium-24-size);
  color: var(--text-dark);
  font-family: var(--poppins-regular-20);
  padding-top: 80px;
}
.success-icon {
  width: fit-content;
  height: 70px;
  margin-left: 12px;
}
.benefits-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
  gap: 30px;
}
.benefits-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media (max-width: 1024px){
  .success-icon{
    height: 52px;
    margin-top: 5px;
  }
  .jobs-benefits-container {
    font-size: 40px;
  }
  .are-you-on-container{
    text-align: center;
  }
  .frame-parent6 {
    width: 100%;
    justify-content: space-evenly;
    gap: 32px;
  }
  .benefits {
    padding-bottom: 60px;
  }
}

@media (max-width: 750px){
  .success-girl {
    height: 320px;
  }
}

@media (max-width: 500px){
  .are-you-on-container{
    display: none;
  }
}